
// 文字颜色
// 暗色背景文字
$text-color-dark-1:rgba(255, 255, 255, 1);
$text-color-dark-2: rgba(255, 255, 255, 0.7);
$text-color-dark-3: rgba(255, 255, 255, 0.4);
$text-color-dark-4: rgba(255, 255, 255, 0.2);

// 亮色背景文字
$text-color-light-1:rgb(0, 0, 0,0.9);
$text-color-light-2: rgba(0, 0, 0, 0.7);
$text-color-light-3: rgba(0, 0, 0, 0.4);
$text-color-light-4: rgba(0, 0, 0, 0.2);
